---
import "../styles/global.css";
import SEO from "../components/SEO.astro";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title,
  description = "Funval International - Cambiando Vidas",
  image,
} = Astro.props;
---

<!doctype html>
<html class="light" lang="es">
  <head>
    <SEO title={title} description={description} image={image} />
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Montserrat:wght@700;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100 font-sans transition-colors duration-300"
  >
    <slot />
  </body>
</html>
